body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: cornsilk;
    position: relative;
}

.anim{
    width: 900px;
    height: 900px;
}

.part1 {
    width: 300px;
    position: relative;
    height: 300px;
    background-color: black;
    border-radius: 295px 0 295px 0;
    margin-top: 80px;
    margin-left: 182px;
    transform: rotate(-45deg);
}

.part2{
    width: 300px;
    position: relative;
    height: 300px;
    background-color: black;
    border-radius: 100% 0 100% 0;
    margin-left: 375px;
    margin-top: -248px;
    transform: rotate(-4deg);
}

.part3 {
    width: 300px;
    height: 300px;
    position: relative;
    background-color: black;
    border-radius: 100% 0 100% 0;
    margin-top: -300px;
    margin-left: -10px;
    z-index: -1;
    transform: rotate(-86deg);
}

.adidas2 {
    position: relative;
    width: 665px;
    height: 24px;
    margin-top: -250px;
    background-color: cornsilk;
    z-index: 1;
    box-shadow: 0px 48px 0px cornsilk,
                0px 96px 0px cornsilk;
} 

.adidas2::after{
    position: absolute;
    content: "odidos";
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 180px;
    margin-left: 0px;
    margin-top: 200px;
    width: 500px;
    height: 0px;
    width: auto;
    color: black;
}

.font{
    margin-left: 96px;
    margin-top: 256px;
    width: 30px;
    height: 105px;
    background-color: black;
    box-shadow: 435px 0px 0 black;
}

.animation {
    width: 665px;
    height: 443px;
    z-index: -1;
}

.animation:hover .part1{
    transition: 1s;
    position: absolute;
    margin-top: 40px;
}

.animation:hover .part2{
    transition: 1s;
    margin-top: -113px;
    margin-left: 392px;
}

.animation:hover .part3{
    transition: 1s;
    margin-top: -340px;
    margin-left: -32px;
}